{% extends "core/base.html" %}

{% block content %}

<body>

    <main onclick="OcultarMenuMobile()">

        <section>

            <div class="quienes-somos">
                <h2>Hola a todos!</h2>
                <p>Somos un grupo de estudiantes de programación apasionados por la cocina.
                    Creamos este sitio web con el objetivo de compartir nuestras recetas favoritas,
                    consejos de cocina y recursos educativos con otros amantes de la comida.
                </p>
            </div>
        </section>


        <div class="contenedor_nosotros">
            <section class="nosotros">
                <article class="integrantes">
                    <div class="wrapper_img_cocinero">
                        <img src="img/cocinero.jpg" alt="imagen cocinero">
                    </div>
                    <h2>MIRTA</h2>
                    <h2>Cargo Referente</h2>
                    <p>es un desarrollador web apasionado con más de 5 años de experiencia en la creación de sitios web
                        y aplicaciones web. Es experto en HTML, CSS, JavaScript y PHP. Juan también tiene experiencia en
                        el diseño de interfaces de usuario y la experiencia del usuario.</p>
                </article>

                <article class="integrantes">
                    <div class="wrapper_img_cocinero">
                        <img src="img/cocinero.jpg" alt="imagen cocinero" >
                    </div>
                    <h2>ALEJANDRO</h2>
                    <h2>Miembro del equipo</h2>
                    <p>es un desarrollador web apasionado con más de 5 años de experiencia en la creación de sitios web
                        y aplicaciones web. Es experto en HTML, CSS, JavaScript y PHP. Juan también tiene experiencia en
                        el diseño de interfaces de usuario y la experiencia del usuario.</p>
                </article>

                <article class="integrantes">
                    <div class="wrapper_img_cocinero">
                        <img src="img/cocinero.jpg" alt="imagen cocinero">
                    </div>
                    <h2>LIDIA</h2>
                    <h2>Miembro del equipo</h2>
                    <p>es un desarrollador web apasionado con más de 5 años de experiencia en la creación de sitios web
                        y aplicaciones web. Es experto en HTML, CSS, JavaScript y PHP. Juan también tiene experiencia en
                        el diseño de interfaces de usuario y la experiencia del usuario.</p>
                </article>
            </section>


        </div>
        <section class="quienes-somos"><p><u>¿Qué nos motiva?</u></p>
            <br>
            <article><p>Nos encanta cocinar y experimentar con nuevos sabores. Creemos que la cocina es una forma de arte que se puede usar para expresar creatividad y conectar con las personas. También estamos apasionados por la programación y 
                vemos el desarrollo web como una forma de compartir nuestro conocimiento y pasión con el mundo.</p></article>
            <article><p><u>¿Qué encontrarás en nuestro sitio web?</u></p>
            </article>
    </section>
    <div class="contenedor_nosotros">
        <section class="nosotros">

            <article class="integrantes">
                <div class="wrapper_img_cocinero">
                    <img src="img/recetas dulces.jpg" alt="imagen cocinero">
                </div>
                <h2>Recetas</h2>
                <h2>Paso a Paso</h2>
                <p>Una amplia variedad de recetas para todos los gustos y niveles de experiencia.</p>
            </article>

            <article class="integrantes">
                <div class="wrapper_img_cocinero">
                    <img src="img/recursos-educativos.png" alt="imagen cocinero" >
                </div>
                <h2>Recursos educativos</h2>
                <h2>Atractivos y Divertidos</h2>
                <p>Tutoriales, videos y artículos sobre cocina y programación</p>
            </article>

            <article class="integrantes">
                <div class="wrapper_img_cocinero">
                    <img src="img/blog.jpg" alt="imagen cocinero">
                </div>
                <h2>Un blog</h2>
                <h2>Inspirar a otros y Conectar</h2>
                <p>Donde compartimos nuestras experiencias en la cocina, nuestros últimos descubrimientos culinarios y nuestras reflexiones sobre la comida y la programación</p>
            </article>
        </section>
    </div>
    </main>


</body>

{% endblock %}