{% extends "core/base.html" %}
{% load static %}

{% block content %}
<section>
    <div>
        <h1>¡Bienvenido a Que cocinar!</h1>
        <p id="leyenda_titulo">¿No sabés qué cocinar hoy? Prepará uno de nuestros platos mejor valorados siguiendo los pasos de la receta o lo que te sugerimos según tus ingredientes!</p>
    </div>
</section>

<div class="contenedor_recetas">
    <section class="recetas">

        {%for receta in recetas %}
            <article class="receta" onclick="abrirReceta('{{receta.titulo}}',`{{receta.descripcion}}`,'{{receta.imagen.url}}', `{{receta.ingredientes}}`,'{{receta.tiempo}}')">
                <div class="wrapper_img_receta">
                    <img src="{{receta.imagen.url}}" alt="imagen de receta">
                </div>
                <h2>{{receta.titulo}}</h2>
                <p>{{receta.descripcion}}</p>
                <div class="timer"><i class="bi bi-alarm">{{receta.tiempo}}</i></div>
            </article>
        {% endfor %}

    </section>            
</div>
{% endblock %}